PANDAS CHEAT SHEET

In [2]:
import pandas as pd

In [3]:
# pandas data structures 
    #series

# a one dimensional labeled array capable of holding any data type. 

s= pd.Series([3,-5,9,7],index=['a','b','c','d'])
s

a    3
b   -5
c    9
d    7
dtype: int64

In [4]:
# data frame
###
# two dimensional labeled data structures with columns of potentially different type.

data = {'country': ['belgium','india','brazil'],
        'capital':['brussels','new delhi','brasilla'],
        'population':[11190846,130316035,204589631]}

df=pd.DataFrame(data,columns=['country','capital','population'])
df

   country    capital  population
0  belgium   brussels    11190846
1    india  new delhi   130316035
2   brazil   brasilla   204589631

In [5]:
# read and write to csv
'''
pd.read_csv('c:\\Users\\Administrator\\Downloads\\archive\\austrian_airlines_reviews.csv')

df.to_csv('mydataframe.csv')


# read and write to excel 
#pd.read_excel('file.xlsx')

df.to_excel("Superstore - Dataset.xlsx")
 
        '''

'\npd.read_csv(\'c:\\Users\\Administrator\\Downloads\\archive\\austrian_airlines_reviews.csv\')\n\ndf.to_csv(\'mydataframe.csv\')\n\n\n# read and write to excel \n#pd.read_excel(\'file.xlsx\')\n\ndf.to_excel("Superstore - Dataset.xlsx")\n \n        '

In [6]:
# selection
    # getting
 
s['b']              #(get one element)

df[1:]              #(get subset of data frame)

  country    capital  population
1   india  new delhi   130316035
2  brazil   brasilla   204589631

In [45]:
# selecting, boolean indexing & setting

# by position
df
df.iloc[(0),(0)]                     #(selecting single value by row & column)

df.iat[(0),(0)]

# by label 

df.loc[(0), ('country')]            #(select single value by row & column)

df.at[(0),('country')]

# by label/position 

#df.ix[]

# boolean indexing 

s[~(s > 1)]                         #(series s where value is not>1 s where value is <-1 or >2)

s[(s<-1) | (s>2)]

df[df['population']>120000000]                          #(use filter to adjust data frame)


#setting

s['a'] = 6
s['a']

6

In [53]:
# dropping 

s.drop(['a','c'])                   #(drop value from row )

df.drop('country', axis=1)          #(drop value from column)

     capital  population
0   brussels    11190846
1  new delhi   130316035
2   brasilla   204589631

In [56]:
# sort & rank 
df.sort_index()                     #(sort by label along an axis)

df.sort_values(by='country')        #(sort by the value along an axis)

df.rank()                           #(assing rank to entries)

   country  capital  population
0      1.0      2.0         1.0
1      3.0      3.0         2.0
2      2.0      1.0         3.0

In [ ]:
# retriveing series / dataframe information 
    # basic information

df.shape                    #(row & column)

df.index                    #(describe index)

df.columns                  #(describe data frame column)

df.info()                   #(info on dataframe)

df.count()                  #(number of non-na values)


# summary

df.sum()                        #(sum of values)

df.cumsum()                     #(cummulative sum of values)

df.min()                        #(minimum values)

df.max()                        #(maximum values)

df.idxmin()                 #(minmum index value)

df.idxmax()                 #(maximum index values)

df.describe()                       #(summary statistics)

#df.mean()                           #(mean of values)

#df.median()                         #(median of values)

In [ ]:
# appling functions

f= lambda x: x*2

df.apply(f)                     #(apply function)

df.applymap(f)                  #(apply function element wise)

In [72]:
# data alignment
    # internal data alignment
# NA values are introdused in the indicies that dont overlap:

s3=pd.Series([7,-2,3],index=['a','c','d'])
s3

s + s3

a    13.0
b     NaN
c     7.0
d    10.0
dtype: float64

In [76]:
# arthimetic operations with fill methods
    # you can also do the internal data alignment yourself with the help of the fill methods:

s.add(s3, fill_value=0)

s.sub(s3, fill_value=2)

s.div(s3,fill_value=4)

s.mul(s3,fill_value=3)

a    42.0
b   -15.0
c   -18.0
d    21.0
dtype: float64